@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color:#eee;
  color: #000;
}

h1 {
  margin-top: 10px;
  color: #18ACC4;
}

h2 {
  margin-top: 10px;
  color: #007A8D;
}

.custom-img {
  max-height: 150px;
  border: 2px solid darkblue;
}

.form-control{
  background-color: #ddd;
  color: #1F2D30;
}

.form-control:focus {
  background-color: #ddd;
  color: #1F2D30;
}

.btn-custom {
  margin-top: 55px;
}

.btn-ajust {
  margin-top: 16px;
}
